<div class="page">
    <h1 style="width:100%">我的小账本</h1>
    <div id="zhuzhuangtu" class="zhuzhuangtu"></div>
    <div id="bingtu" class="bingtu"></div>
    <div id="mixzhu" class="mixzhu"></div>
    <div id="tiaoxing" class="tiaoxing"></div>
  </div>
  
  <script src="https://unpkg.com/@antv/g2/dist/g2.min.js"></script>
  <script>
    const data2 = [
      { item: '转账', count: 40, percent: 0.4 },
      { item: '美团', count: 21, percent: 0.21 },
      { item: '二维码收付款', count: 17, percent: 0.17 },
      { item: '拼多多', count: 13, percent: 0.13 },
      { item: '淘宝', count: 9, percent: 0.09 },
    ];
    const chart2 = new G2.Chart({
      container: 'bingtu',
  
    });
  
    chart2.coordinate({ type: 'theta', outerRadius: 0.8 });
  
    chart2
      .interval()
      .data(data2)
      .transform({ type: 'stackY' })
      .encode('y', 'percent')
      .encode('color', 'item')
      .legend('color', { position: 'bottom', layout: { justifyContent: 'center' } })
      .label({
        position: 'outside',
        text: (data2) => `${data2.item}: ${data2.percent * 100}%`,
      })
      .tooltip((data) => ({
        name: data2.item,
        value: `${data2.percent * 100}%`,
      }));
  
    chart2.render();
  
  
    const data1 = [
      { month: '一月', money: 1604.45 },
      { month: '二月', money: 1875.34 },
      { month: '三月', money: 3672.12 },
      { month: '四月', money: 2016.72 },
      { month: '五月', money: 1505.34 },
    ];
  
    // 初始化图表实例
    const chart1 = new G2.Chart({
      container: 'zhuzhuangtu',
  
    });
  
    // 声明可视化
    chart1
      .interval() // 创建一个 Interval 标记
      .data(data1) // 绑定数据
      .encode('x', 'month') // 编码 x 通道
      .encode('y', 'money'); // 编码 y 通道
  
    // 渲染可视化
    chart1.render();
  
  
    const data3 = [
      { name: '收入', 月份: 'Jan.', 月均收入支出对比图: 1764.43 },
      { name: '收入', 月份: 'Feb.', 月均收入支出对比图: 1868.23 },
      { name: '收入', 月份: 'Mar.', 月均收入支出对比图: 4421.10 },
      { name: '收入', 月份: 'Apr.', 月均收入支出对比图: 2150.23 },
      { name: '收入', 月份: 'May', 月均收入支出对比图: 1768.23 },
      { name: '收入', 月份: 'Jun.', 月均收入支出对比图: 688.91 },
      { name: '收入', 月份: 'Jul.', 月均收入支出对比图: 1125.11 },
      { name: '收入', 月份: 'Aug.', 月均收入支出对比图: 2365.12 },
      { name: '支出', 月份: 'Jan.', 月均收入支出对比图: 1945.12 },
      { name: '支出', 月份: 'Feb.', 月均收入支出对比图: 2006.23 },
      { name: '支出', 月份: 'Mar.', 月均收入支出对比图: 2765.2 },
      { name: '支出', 月份: 'Apr.', 月均收入支出对比图: 2022.35 },
      { name: '支出', 月份: 'May', 月均收入支出对比图: 1654.23 },
      { name: '支出', 月份: 'Jun.', 月均收入支出对比图: 1678.23 },
      { name: '支出', 月份: 'Jul.', 月均收入支出对比图: 2345.34 },
      { name: '支出', 月份: 'Aug.', 月均收入支出对比图: 3322.23 },
    ];
  
    const chart3 = new G2.Chart({
      container: 'mixzhu',
    });
  
    chart3
      .interval()
      .data(data3)
      .encode('x', '月份')
      .encode('y', '月均收入支出对比图')
      .encode('color', 'name')
      .transform({ type: 'stackY' })
      .interaction('elementHighlight', { background: true });
  
    chart3.render();
  
  const data4 = [
    { year: '2018 年', money: 5487.18 },
    { year: '2019 年', money: 4678.32 },
    { year: '2020 年', money: 5087.45 },
    { year: '2021 年', money: 15533.37 },
    { year: '2022 年', money: 22633.40 },
    { year: '2023 年', money: 27826.71 },
    { year: '2024 年', money: 15085.18 },
  ];
  
  const chart4 = new G2.Chart({
    container: 'tiaoxing',
   
  });
  
  chart4
    .interval()
    .coordinate({ transform: [{ type: 'transpose' }] })
    .data(data4)
    .encode('x', 'year')
    .encode('y', 'money');
  
  chart4.render();
  
  
  </script>
  
  <style>
    .page {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  
    .zhuzhuangtu {
      width:50%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
  
    }
  
    .bingtu {
      width:50%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  
    .mixzhu{
      width:50%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    .tiaoxing{
      width:50%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
  
    }
  
    
  </style>