<div class="page">
    <h1 style="width:100%">我的小账本</h1>
    <div id="zhuzhuangtu" class="zhuzhuangtu"></div>
    <div id="bingtu" class="bingtu"></div>
    <div id="mixzhu" class="mixzhu"></div>
    <div id="yuan" class="yuan"></div>
  </div>
  
  <script src="https://unpkg.com/@antv/g2/dist/g2.min.js"></script>
  <script>
    const data2 = [
      { item: '游戏充值', count: 60, percent: 0.6 },
      { item: '买衣服', count: 20, percent: 0.20 },
      { item: '买玩具', count: 5, percent: 0.05 },
      { item: '玩', count: 4, percent: 0.04 },
      { item: '吃饭', count: 11, percent: 0.11 },
    ];
    const chart2 = new G2.Chart({
      container: 'bingtu',
  
    });
  
    chart2.coordinate({ type: 'theta', outerRadius: 0.8 });
  
    chart2
      .interval()
      .data(data2)
      .transform({ type: 'stackY' })
      .encode('y', 'percent')
      .encode('color', 'item')
      .legend('color', { position: 'bottom', layout: { justifyContent: 'center' } })
      .label({
        position: 'outside',
        text: (data2) => `${data2.item}: ${data2.percent * 100}%`,
      })
      .tooltip((data) => ({
        name: data2.item,
        value: `${data2.percent * 100}%`,
      }));
  
    chart2.render();
  
  
    const data1 = [
      { 水果销售图: '香蕉', 水果销售数量: 17620 },
      { 水果销售图: '橙子', 水果销售数量: 13790 },
      { 水果销售图: '苹果', 水果销售数量: 8540 },
      { 水果销售图: '梨子', 水果销售数量: 6350 },
      { 水果销售图: '葡萄', 水果销售数量: 13040 },
    ];
  
    // 初始化图表实例
    const chart1 = new G2.Chart({
      container: 'zhuzhuangtu',
  
    });
  
    // 声明可视化
    chart1
      .interval() // 创建一个 Interval 标记
      .data(data1) // 绑定数据
      .encode('x', '水果销售图') // 编码 x 通道
      .encode('y', '水果销售数量'); // 编码 y 通道
  
    // 渲染可视化
    chart1.render();
  
  
    const data3 = [
      { name: 'China', 年份: '1985', GDP: 3101 },
      { name: 'China', 年份: '1990', GDP: 3965 },
      { name: 'China', 年份: '1995', GDP: 7309 },
      { name: 'China', 年份: '2000', GDP: 12000 },
      { name: 'China', 年份: '2005', GDP: 22900 },
      { name: 'China', 年份: '2015', GDP: 115000 },
      { name: 'China', 年份: '2021', GDP: 177500 },
      { name: 'China', 年份: '2023', GDP: 176600 },
      { name: 'America', 年份: '1985', GDP: 43390 },
      { name: 'America', 年份: '1990', GDP: 59631 },
      { name: 'America', 年份: '1995', GDP: 72878 },
      { name: 'America', 年份: '2000', GDP: 102500 },
      { name: 'America', 年份: '2005', GDP: 130300 },
      { name: 'America', 年份: '2015', GDP: 182900 },
      { name: 'America', 年份: '2021', GDP: 235900 },
      { name: 'America', 年份: '2023', GDP: 273500 },
    ];
  
    const chart3 = new G2.Chart({
      container: 'mixzhu',
    });
  
    chart3
      .interval()
      .data(data3)
      .encode('x', '年份')
      .encode('y', 'GDP')
      .encode('color', 'name')
      .transform({ type: 'stackY' })
      .interaction('elementHighlight', { background: true });
  
    chart3.render();
  
  
  
  </script>
  
  <script>
  const chart4 = new G2.Chart({
    container: 'yuan',
  
  });
  
  chart4
    .interval()
    .data([
      { 张盛杰: '生活费', money: 1800, washaway: 0.21014492753623193 },
      { 张盛杰: '预支出', money: 1500, washaway: 0.5596330275229358 },
      { 张盛杰: '实际支出', money: 1600, washaway: 0 },
    ])
    .encode('x', '张盛杰')
    .encode('y', 'money')
    .encode('color', '张盛杰')
    .encode('size', 80)
    .style('radiusTopLeft', 10)
    .style('radiusTopRight', 20)
    .style('radiusBottomRight', 30)
    .style('radiusBottomLeft', 40);
  
  chart4.render();
  </script>
  
  <style>
    .page {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  
    .zhuzhuangtu {
      width:50%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
  
    }
  
    .bingtu {
      width:50%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  
    .mixzhu{
      width:50%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  
    .yuan{
      width:50%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  </style>