<div class="page">
    <h1 style="width:100%">我的小账本</h1>
    <div id="zhuzhuangtu" class="zhuzhuangtu"></div>
    <div id="bingtu" class="bingtu"></div>
    <div id="mixzhu" class="mixzhu"></div>
    <div id="环形图" class="环形图"></div>
  </div>
  
  <script src="https://unpkg.com/@antv/g2/dist/g2.min.js"></script>
  <script>
    const data2 = [
      { item: '吃饭', count: 60, percent: 0.6 },
      { item: '娱乐', count: 20, percent: 0.2 },
      { item: '购物', count: 10, percent: 0.1 },
      { item: '宠物用品', count: 5, percent: 0.05 },
      { item: '出行', count: 5, percent: 0.05 },
    ];
    const chart2 = new G2.Chart({
      container: 'bingtu',
  
    });
  
    chart2.coordinate({ type: 'theta', outerRadius: 0.8 });
  
    chart2
      .interval()
      .data(data2)
      .transform({ type: 'stackY' })
      .encode('y', 'percent')
      .encode('color', 'item')
      .legend('color', { position: 'bottom', layout: { justifyContent: 'center' } })
      .label({
        position: 'outside',
        text: (data2) => `${data2.item}: ${data2.percent * 100}%`,
      })
      .tooltip((data) => ({
        name: data2.item,
        value: `${data2.percent * 100}%`,
      }));
  
    chart2.render();
  
  
    const data1 = [
      { genre: '一月', 开销: 1896.79 },
      { genre: '二月', 开销: 3696.03 },
      { genre: '三月', 开销: 5166.10 },
      { genre: '四月', 开销: 4774.92 },
      { genre: '五月', 开销: 2979.40 },
      { genre: '六月', 开销: 3986.25 },
      { genre: '七月', 开销: 3801.65 },
      { genre: '八月', 开销: 12000 },
      { genre: '九月', 开销: 2666.14 },
      { genre: '十月', 开销: 3261.07 },
      { genre: '十一月', 开销: 3086.01 },
      { genre: '十二月', 开销: 10000 },
    ];
  
    // 初始化图表实例
    const chart1 = new G2.Chart({
      container: 'zhuzhuangtu',
  
    });
  
    // 声明可视化
    chart1
      .interval() // 创建一个 Interval 标记
      .data(data1) // 绑定数据
      .encode('x', 'genre') // 编码 x 通道
      .encode('y', 'sold'); // 编码 y 通道
  
    // 渲染可视化
    chart1.render();
  
  
    const data3 = [
      { name: '支出', 月份: 'Jan.', 总额: 3940.08 },
      { name: '支出', 月份: 'Feb.', 总额: 4485.98 },
      { name: '支出', 月份: 'Mar.', 总额: 2670.84 },
      { name: '支出', 月份: 'Apr.', 总额: 4080.91 },
      { name: '支出', 月份: 'May', 总额: 3328.82 },
      { name: '支出', 月份: 'Jun.', 总额: 2649.74 },
      { name: '收入', 月份: 'Jan.', 总额: 2851.90 },
      { name: '收入', 月份: 'Feb.', 总额: 4001.71 },
      { name: '收入', 月份: 'Mar.', 总额: 2471.32 },
      { name: '收入', 月份: 'Apr.', 总额: 4059.28 },
      { name: '收入', 月份: 'May', 总额: 2393.17 },
      { name: '收入', 月份: 'Jun.', 总额: 2232.24 },
    ];
  
    const chart3 = new G2.Chart({
      container: 'mixzhu',
    });
  
    chart3
      .interval()
      .data(data3)
      .encode('x', '月份')
      .encode('y', '总额')
      .encode('color', 'name')
      .transform({ type: 'stackY' })
      .interaction('elementHighlight', { background: true });
  
    chart3.render();
  
    
  
  
  
  chart.render();
  
  const data = [
    { item: '转账', count: 43.93, percent: 0.4393 },
    { item: '餐饮', count: 17.39, percent: 0.1739 },
    { item: '发红包', count: 11.34, percent: 0.1134 },
    { item: '其它', count: 11.1, percent: 0.111},
    { item: '服务', count: 8.41, percent: 0.0841 },
    { item: '交通', count: 2.69, percent: 0.0269 },
    { item: '购物', count: 4.01, percent: 0.0401 },
    
    { item: '生活缴费', count: 1.13, percent: 0.0113 },
   
  ];
  
  const chart = new Chart({
    container: 'container',
    autoFit: true,
  });
  
  chart.coordinate({ type: 'theta', outerRadius: 0.8, innerRadius: 0.5 });
  
  chart
    .interval()
    .data(data)
    .transform({ type: 'stackY' })
    .encode('y', 'percent')
    .encode('color', 'item')
    .legend('color', { position: 'bottom', layout: { justifyContent: 'center' } })
    .label({
      position: 'outside',
      text: (data) => `${data.item}: ${data.percent * 100}%`,
    })
    .tooltip((data) => ({
      name: data.item,
      value: `${data.percent * 100}%`,
    }));
  
  
  
  chart.render();
  
  
  </script>
  
  <style>
    .page {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  
    .zhuzhuangtu {
      width:50%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
  
    }
  
    .bingtu {
      width:50%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  
    .mixzhu{
      width:100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  
    .环形图{
      width:150%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  </style>