<div class="page">
    <h1 style="width:100%">我的小账本</h1>
    <div id="zhuzhuangtu" class="zhuzhuangtu"></div>
    <div id="bingtu" class="bingtu"></div>
    <div id="mixzhu" class="mixzhu"></div>
    <div id="zhexiantu" class="zhexiantu"></div>
  </div>
  
  <script src="https://unpkg.com/@antv/g2/dist/g2.min.js"></script>
  <script>
    const data2 = 
     [
       { item: '餐饮美食', count: 38, percent: 0.38 },
       { item: '日用百货', count: 26, percent: 0.26},
       { item: '交通出行', count: 11, percent: 0.11 },
       { item: '转账红包', count: 10, percent: 0.1},
       { item: '服饰充值', count: 15, percent: 0.15 },
     ];
    const chart2 = new G2.Chart({
      container: 'bingtu',
  
    });
  
    chart2.coordinate({ type: 'theta', outerRadius: 0.8 });
  
    chart2
      .interval()
      .data(data2)
      .transform({ type: 'stackY' })
      .encode('y', 'percent')
      .encode('color', 'item')
      .legend('color', { position: 'bottom', layout: { justifyContent: 'center' } })
      .label({
        position: 'outside',
        text: (data2) => `${data2.item}: ${data2.percent * 100}%`,
      })
      .tooltip((data) => ({
        name: data2.item,
        value: `${data2.percent * 100}%`,
      }));
  
    chart2.render();
  
  
    const data1 = [
      { 收入: '一月', 金额: 10500},
      { 收入: '二月', 金额: 28.9},
      { 收入: '三月', 金额: 1026},
      { 收入: '四月', 金额: 4.1 },
      { 收入: '五月', 金额: 4220},
    ];
  
    // 初始化图表实例
    const chart1 = new G2.Chart({
      container: 'zhuzhuangtu',
  
    });
  
    // 声明可视化
    chart1
      .interval() // 创建一个 Interval 标记
      .data(data1) // 绑定数据
      .encode('x', '收入') // 编码 x 通道
      .encode('y', '金额'); // 编码 y 通道
  
    // 渲染可视化
    chart1.render();
  
  
    const data3 = [
      { name: '支出', 月份: 'Jan.', 月均收支量: 123.9 },
      { name: '支出', 月份: 'Feb.', 月均收支量: 718.5},
      { name: '支出', 月份: 'Mar.', 月均收支量: 2831 },
      { name: '支出', 月份: 'Apr.', 月均收支量: 1634.9},
      { name: '支出', 月份: 'May',  月均收支量: 1430},
      { name: '支出', 月份: 'Jun.', 月均收支量: 691 },
      { name: '支出', 月份: 'Jul.', 月均收支量: 613.4},
      { name: '支出', 月份: 'Aug.', 月均收支量: 1173.5 },
      { name: '收入', 月份: 'Jan.', 月均收支量: 10500 },
      { name: '收入', 月份: 'Feb.', 月均收支量: 28.9 },
      { name: '收入', 月份: 'Mar.', 月均收支量: 1026 },
      { name: '收入', 月份: 'Apr.', 月均收支量: 4.1 },
      { name: '收入', 月份: 'May',  月均收支量: 4220},
      { name: '收入', 月份: 'Jun.', 月均收支量: 550 },
      { name: '收入', 月份: 'Jul.', 月均收支量: 10},
      { name: '收入', 月份: 'Aug.', 月均收支量: 400 },
    ];
  
    const chart3 = new G2.Chart({
      container: 'mixzhu',
    });
  
    chart3
      .interval()
      .data(data3)
      .encode('x', '月份')
      .encode('y', '月均收支量')
      .encode('color', 'name')
      .transform({ type: 'stackY' })
      .interaction('elementHighlight', { background: true });
  
    chart3.render();

    const data4 = [
  { year: '2016', value: 3 },
  { year: '2017', value: 4 },
  { year: '2018', value: 3.5 },
  { year: '2019', value: 5 },
  { year: '2020', value: 4.9 },
  { year: '2021', value: 6 },
  { year: '2022', value: 7 },
  { year: '2023', value: 9 },
  { year: '2024', value: 13 },
];

const chart4 = new G2.Chart({
  container: 'zhexiantu',
  autoFit: true,
});

chart4
  .data(data4)
  .encode('x', 'year')
  .encode('y', 'value')
  .scale('x', {
    range: [0, 1],
  })
  .scale('y', {
    domainMin: 0,
    nice: true,
  });

chart4.line().label({
  text: 'value',
  style: {
    dx: -10,
    dy: -12,
  },
});

chart4.point().style('fill', 'white').tooltip(false);

chart4.render();

  
  
  </script>
  
  <style>
    .page {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  
    .zhuzhuangtu {
      width:50%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
  
    }
  
    .bingtu {
      width:50%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  
    
    .mixzhu{
      width:100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    .zhexiantu{
      width:50%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }



    











  </style>