<div class="page">
  <h1 style="width:100%">生命值</h1>
  <div id="zhuzhuangtu" class="zhuzhuangtu"></div>
  <div id="bingtu" class="bingtu"></div>
  <div id="leidatu" class="leidatu"></div>
</div>

<script src="https://unpkg.com/@antv/g2/dist/g2.min.js"></script>
<script>
  const data2 = [
    { item: '我嘞个逗', count: 60, percent: 0.6 },
    { item: 'ye米', count: 55, percent: 0.55 },
    { item: '羊毛大王', count: 33, percent: 0.33 },
    { item: '炊事老兵', count: 100, percent: 1 },
    { item: '别六人', count: 77, percent: 0.77 },
  ];
  const chart2 = new G2.Chart({
    container: 'bingtu',

  });

  chart2.coordinate({ type: 'theta', outerRadius: 0.8 });

  chart2
    .interval()
    .data(data2)
    .transform({ type: 'stackY' })
    .encode('y', 'percent')
    .encode('color', 'item')
    .legend('color', { position: 'bottom', layout: { justifyContent: 'center' } })
    .label({
      position: 'outside',
      text: (data2) => `${data2.item}: ${data2.percent * 100}%`,
    })
    .tooltip((data) => ({
      name: data2.item,
      value: `${data2.percent * 100}%`,
    }));

  chart2.render();


  const data1 = [
    { genre: '第一季度', sold: 10000 },
    { genre: '第二季度', sold: 12345 },
    { genre: '第三季度', sold: 11111},
    { genre: '第四季度', sold: 22222 },
    { genre: '总和', sold: 55678 },
  ];

  // 初始化图表实例
  const chart1 = new G2.Chart({
    container: 'zhuzhuangtu',

  });

  // 声明可视化
  chart1
    .interval() // 创建一个 Interval 标记
    .data(data1) // 绑定数据
    .encode('x', 'genre') // 编码 x 通道
    .encode('y', 'sold'); // 编码 y 通道

  // 渲染可视化
  chart1.render();


  const data3 = [
  { item: 'Design', type: 'a', score: 70 },
  { item: 'Design', type: 'b', score: 30 },
  { item: 'Development', type: 'a', score: 60 },
  { item: 'Development', type: 'b', score: 70 },
  { item: 'Marketing', type: 'a', score: 50 },
  { item: 'Marketing', type: 'b', score: 60 },
  { item: 'Users', type: 'a', score: 40 },
  { item: 'Users', type: 'b', score: 50 },
  { item: 'Test', type: 'a', score: 60 },
  { item: 'Test', type: 'b', score: 70 },
  { item: 'Language', type: 'a', score: 70 },
  { item: 'Language', type: 'b', score: 50 },
  { item: 'Technology', type: 'a', score: 50 },
  { item: 'Technology', type: 'b', score: 40 },
  { item: 'Support', type: 'a', score: 30 },
  { item: 'Support', type: 'b', score: 40 },
  { item: 'Sales', type: 'a', score: 60 },
  { item: 'Sales', type: 'b', score: 40 },
  { item: 'UX', type: 'a', score: 50 },
  { item: 'UX', type: 'b', score: 60 },
];

const chart3 = new Chart({
  container: 'leidatu',
  autoFit: true,
});

chart3.coordinate({ type: 'polar' });

chart3
  .data(data)
  .scale('x', { padding: 0.5, align: 0 })
  .scale('y', { tickCount: 5, domainMax: 80 })
  .axis('x', {
    grid: true,
    gridLineWidth: 1,
    tick: false,
    gridLineDash: [0, 0],
  })
  .axis('y', {
    zIndex: 1,
    title: false,
    gridConnect: 'line',
    gridLineWidth: 1,
    gridLineDash: [0, 0],
  });

chart3
  .area()
  .encode('x', 'item')
  .encode('y', 'score')
  .encode('color', 'type')
  .style('fillOpacity', 0.5);

chart3
  .line()
  .encode('x', 'item')
  .encode('y', 'score')
  .encode('color', 'type')
  .style('lineWidth', 2);

chart3
  .point()
  .encode('x', 'item')
  .encode('y', 'score')
  .encode('color', 'type')
  .encode('shape', 'point')
  .encode('size', 3)
  .tooltip(null);
  chart.interaction('tooltip', { crosshairsLineDash: [4, 4] });

chart3.render();

</script>

<style>
  .page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .zhuzhuangtu {
    width:50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

  }

  .bingtu {
    width:50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .leidatu{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
</style>