<div class="page">
    <h1 style="width:100%">我的账本</h1>
    <div id="zhuzhuangtu" class="zhuzhuangtu"></div>
    <div id="bingtu" class="bingtu"></div>
    <div id="mixzhu" class="mixzhu"></div>
  </div>
  
  <script src="https://unpkg.com/@antv/g2/dist/g2.min.js"></script>
  <script>
    const data2 = [
      { item: '一月', count: 40, percent: 0.4 },
      { item: '二月', count: 20, percent: 0.20 },
      { item: '三月', count: 17, percent: 0.17 },
      { item: '四月', count: 13, percent: 0.13 },
      { item: '五月', count: 10, percent: 0.10 },
    ];
    const chart2 = new G2.Chart({
      container: 'bingtu',
  
    });
  
    chart2.coordinate({ type: 'theta', outerRadius: 0.8 });
  
    chart2
      .interval()
      .data(data2)
      .transform({ type: 'stackY' })
      .encode('y', 'percent')
      .encode('color', 'item')
      .legend('color', { position: 'bottom', layout: { justifyContent: 'center' } })
      .label({
        position: 'outside',
        text: (data2) => `${data2.item}: ${data2.percent * 100}%`,
      })
      .tooltip((data) => ({
        name: data2.item,
        value: `${data2.percent * 100}%`,
      }));
  
    chart2.render();
  
  
    const data1 = [
      { genre: 'Sports', sold: 180 },
      { genre: 'Eat', sold: 275 },
      { genre: 'Play', sold: 100 },
      { genre: 'Shop', sold: 350 },
      { genre: 'Other', sold: 95 },
    ];
  
    // 初始化图表实例
    const chart1 = new G2.Chart({
      container: 'zhuzhuangtu',
  
    });
  
    // 声明可视化
    chart1
      .interval() // 创建一个 Interval 标记
      .data(data1) // 绑定数据
      .encode('x', 'genre') // 编码 x 通道
      .encode('y', 'sold'); // 编码 y 通道
  
    // 渲染可视化
    chart1.render();
  
  
    const data3 = [
      { name: 'Heroine', 英雄: 'yadianna.', 普攻伤害值: 28.62 },
      { name: 'Heroine', 英雄: 'sunshangxiang.', 普攻伤害值: 49.36 },
      { name: 'Heroine', 英雄: 'gongunli.', 普攻伤害值: 48.79 },
      { name: 'Heroine', 英雄: 'yuji.', 普攻伤害值: 74.01 },
      { name: 'Heroine', 英雄: 'xiaoqiao', 普攻伤害值: 74.77 },
      { name: 'Heroine', 英雄: 'daji', 普攻伤害值: 70.77 },
      { name: 'Hero', 英雄: 'liyuanfang.', 普攻伤害值: 26.05 },
      { name: 'Hero', 英雄: 'chengjisihan.', 普攻伤害值: 29.78 },
      { name: 'Hero', 英雄: 'houyi.', 普攻伤害值: 30.97 },
      { name: 'Hero', 英雄: 'direnjie.', 普攻伤害值: 34.54 },
      { name: 'Hero', 英雄: 'lubanqihao.', 普攻伤害值: 35.64 },
      { name: 'Hero', 英雄: 'liubei.', 普攻伤害值: 75.64 },
    ];
  
    const chart3 = new G2.Chart({
      container: 'mixzhu',
    });
  
    chart3
      .interval()
      .data(data3)
      .encode('x', '英雄')
      .encode('y', '普攻伤害值')
      .encode('color', 'name')
      .transform({ type: 'stackY' })
      .interaction('elementHighlight', { background: true });
  
    chart3.render();
  
  
  </script>
  
  <style>
    .page {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  
    .zhuzhuangtu {
      width:50%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
  
    }
  
    .bingtu {
      width:50%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  
    .mixzhu{
      width:100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  </style>