<div class="page">
    <h1 style="width:100%">我的小账本</h1>
    <div id="zhuzhuangtu" class="zhuzhuangtu"></div>
    <div id="bingtu" class="bingtu"></div>
    <div id="mixzhu" class="mixzhu"></div>
    <div id="zhexian" class="zhexian"></div>
  </div>
  
  <script src="https://unpkg.com/@antv/g2/dist/g2.min.js"></script>
  <script>
    const data2 = [
      { item: 'zxx', count: 41, percent: 0.41 },
      { item: 'zzw', count: 20, percent: 0.20 },
      { item: 'yhc', count: 11, percent: 0.11 },
      { item: 'yhr', count: 19, percent: 0.19 },
      { item: 'hh', count: 9, percent: 0.09 },
    ];
    const chart2 = new G2.Chart({
      container: 'bingtu',
  
    });
  
    chart2.coordinate({ type: 'theta', outerRadius: 0.8 });
  
    chart2
      .interval()
      .data(data2)
      .transform({ type: 'stackY' })
      .encode('y', 'percent')
      .encode('color', 'item')
      .legend('color', { position: 'bottom', layout: { justifyContent: 'center' } })
      .label({
        position: 'outside',
        text: (data2) => `${data2.item}: ${data2.percent * 100}%`,
      })
      .tooltip((data) => ({
        name: data2.item,
        value: `${data2.percent * 100}%`,
      }));
  
    chart2.render();
  
  
    const data1 = [
      {姓名: 'zzw', 花销: 217},
      { 姓名: 'zxx', 花销: 1030 },
      { 姓名: 'yhr', 花销: 430 },
      { 姓名: 'yhc', 花销: 630 },
      { 姓名: 'hh', 花销: 504 },
    ];
  
    // 初始化图表实例
    const chart1 = new G2.Chart({
      container: 'zhuzhuangtu',
  
    });
  
    // 声明可视化
    chart1
      .interval() // 创建一个 Interval 标记
      .data(data1) // 绑定数据
      .encode('x', '姓名') // 编码 x 通道
      .encode('y', '花销'); // 编码 y 通道
  
    // 渲染可视化
    chart1.render();
  
  
    const data3 = [
      { name: 'zzw', 月份: '一月.', 月消费: 2003 },
      { name: 'zzw', 月份: '二月.', 月消费: 2170},
      { name: 'zzw', 月份: '三月.', 月消费: 1455 },
      { name: 'zzw', 月份: '四月.', 月消费: 3220},
      { name: 'zzw', 月份: '五月', 月消费: 1147 },
      { name: 'zzw', 月份: '六月.', 月消费: 1111 },
      { name: 'zzw', 月份: '七月.', 月消费: 2114 },
      { name: 'zzw', 月份: '八月.', 月消费: 3526 },
      { name: 'zzw', 月份: '九月.', 月消费: 3521 },
      { name: 'zzw', 月份: '十月.', 月消费: 1446 },
      { name: 'zzw', 月份: '十一月.', 月消费: 4446 },
      { name: 'zzw', 月份: '十二月.', 月消费: 2226 },
      { name: 'zxx', 月份: '一月.', 月消费: 1214 },
      { name: 'zxx', 月份: '二月.', 月消费: 2312 },
      { name: 'zxx', 月份: '三月.', 月消费: 3415 },
      { name: 'zxx', 月份: '四月.', 月消费: 997 },
      { name: 'zxx', 月份: '五月', 月消费: 2526 },
      { name: 'zxx', 月份: '六月.', 月消费: 3505 },
      { name: 'zxx', 月份: '七月.', 月消费: 3744 },
      { name: 'zxx', 月份: '八月.', 月消费: 1130 },
      { name: 'zxx', 月份: '九月.', 月消费: 1030 },
      { name: 'zxx', 月份: '十月.', 月消费: 1330 },
      { name: 'zxx', 月份: '十一月.', 月消费: 3205 },
      { name: 'zxx', 月份: '十二月.', 月消费: 3144 },
    ];
  
    const chart3 = new G2.Chart({
      container: 'mixzhu',
    });
  
    chart3
      .interval()
      .data(data3)
      .encode('x', '月份')
      .encode('y', '月消费')
      .encode('color', 'name')
      .transform({ type: 'stackY' })
      .interaction('elementHighlight', { background: true });
  
    chart3.render();
  
    const data4 = [
    { 月份: '一月', 开销: 1200 },
    { 月份: '二月', 开销: 2017 },
    { 月份: '三月', 开销: 1111},
    { 月份: '四月', 开销: 2500 },
    { 月份: '五月', 开销: 2300 },
    { 月份: '六月', 开销: 6666 },
    { 月份: '七月', 开销: 1271 },
    { 月份: '八月', 开销: 1123 },
    { 月份: '九月', 开销: 1322 },
    { 月份: '十月', 开销: 1004 },
    { 月份: '十一月', 开销: 1030 },
    { 月份: '十二月',开销: 1300 },
  ];
  
  const chart4 = new G2. Chart({
    container: 'zhexian',
  });
  
  chart4
    .data(data4)
    .encode('x', '月份')
    .encode('y', '开销')
    .scale('x', {
      range: [0, 1],
    })
    .scale('y', {
      domainMin: 0,
      nice: true,
    });
  
  chart4.line().label({
    text: 'value',
    style: {
      dx: -10,
      dy: -12,
    },
  });
  
  chart4.point().style('fill', 'white').tooltip(false);
  
  chart4.render();
  
  
  
  </script>
  
  <style>
    .page {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  
    .zhuzhuangtu {
      width:50%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
  
    }
  
    .bingtu {
      width:50%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  
    .mixzhu{
      width:50%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    .zhexia{
      width:50%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  </style>