<div class="page">
<h1 style="width:100%">我的小账本</h1>
<div id="zhuzhuangtu" class="zhuzhuangtu"></div>
<div id="bingtu" class="bingtu"></div>
<div id="zhexiangtu" class="zhexiangtu"></div>
</div>
<script src="https://unpkg.com/@antv/g2/dist/g2.min.js"></script>
<script>
  // 准备数据
  const data1 = [
    { 月份: '2024-1', 花了多少钱: 1275 },
    { 月份: '2024-2', 花了多少钱: 1150 },
    { 月份: '2024-3', 花了多少钱: 1320 },
    { 月份: '2024-4', 花了多少钱: 1050 },
    { 月份: '2024-5', 花了多少钱: 1500 },
    { 月份: '2024-6', 花了多少钱: 1480 },
  ];

  // 初始化图表实例
  const chart1 = new G2.Chart({
    container: 'zhuzhuangtu',
  });

  // 声明可视化
  chart1
    .interval() // 创建一个 Interval 标记
    .data(data1) // 绑定数据
    .encode('x', '月份') // 编码 x 通道
    .encode('y', '花了多少钱'); // 编码 y 通道

  // 渲染可视化
  chart1.render();
</script>





<script>
const data2 = [
  { item: '吃', count: 40, percent: 0.4 },
  { item: '玩', count: 21, percent: 0.21 },
  { item: '买', count: 17, percent: 0.17 },
  { item: '生活用品', count: 13, percent: 0.13 },
  { item: '发疯', count: 9, percent: 0.09 },
];

const chart2 = new G2.Chart({
  container: 'bingtu',

});

chart2.coordinate({ type: 'theta', outerRadius: 0.8 });

chart2
  .interval()
  .data(data2)
  .transform({ type: 'stackY' })
  .encode('y', 'percent')
  .encode('color', 'item')
  .legend('color', { position: 'bottom', layout: { justifyContent: 'center' } })
  .label({
    position: 'outside',
    text: (data) => `${data.item}: ${data.percent * 100}%`,
  })
  .tooltip((data) => ({
    name: data.item,
    value: `${data.percent * 100}%`,
  }));

chart2.render();





</script>

<script>
const data3 = [
    { 月份: '2024-1', 花了多少钱: 1275 },
    { 月份: '2024-2', 花了多少钱: 1150 },
    { 月份: '2024-3', 花了多少钱: 1320 },
    { 月份: '2024-4', 花了多少钱: 1050 },
    { 月份: '2024-5', 花了多少钱: 1500 },
    { 月份: '2024-6', 花了多少钱: 1480 },
  ];

const chart3 = new G2.Chart({
  container: 'zhexiangtu',

});

chart3
  .data(data3)
  .encode('x', '月份')
  .encode('y', '花了多少钱')
  .scale('x', {
    range: [0, 1],
  })
  .scale('y', {
    domainMin: 0,
    nice: true,
  });

chart3.line().label({
  text: '嘻嘻',
  style: {
    dx: -10,
    dy: -12,
  },
});

chart3.point().style('fill', 'white').tooltip(false);

chart3.render();
</script>










<style>
    .page {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  
    .zhuzhuangtu {
      width:50%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
  
    }
  
    .bingtu {
      width:50%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  
    .zhexiangtu{
      width:100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
</style>