<div class="page">
  <h1 style="width:100%">一堆不知道什么东西</h1>
  <div id="rushiyuelianghaimeilai" class="rushiyuelianghaimeilai">若是月亮还没来</div>
  <div id="bingtu" class="bingtu">我们班的男女比例</div>
  <div id="yibiao" class="yibiao">期末考试占比</div>
  <div id="ciyun" class="ciyun">词云</div>
  
</div>

<script src="https://unpkg.com/@antv/g2/dist/g2.min.js"></script>
<script>
const data = [
  { type: '男生', percent: 61.1, color: '#0a9afe' },
  { type: '女生', percent: 38.8, color: '#f0657d' },
];

const chart2 = new G2.Chart({
  container: 'bingtu',
});

const facetRect = chart2
  .facetRect()
  .data(data)
  .encode('x', 'type')
  .axis(false)
  .legend(false)
  .view()
  .attr('frame', false)
  .coordinate({ type: 'theta', innerRadius: 0.5, outerRadius: 0.8 });

facetRect
  .interval()
  .encode('y', 100)
  .scale('y', { zero: true })
  .style('fill', '#e8e8e8')
  .tooltip(false)
  .animate(false);

facetRect
  .interval()
  .encode('y', 'percent')
  .encode('color', 'color')
  .scale('color', { type: 'identity' })
  .tooltip((data) => ({
    name: data.type,
    value: data.percent,
  }))
  .animate('enter', { type: 'waveIn', duration: 1000 });

facetRect
  .text()
  .encode('text', 'type')
  .style('textAlign', 'center')
  .style('textBaseline', 'middle')
  .style('fontSize', 20)
  .style('color', '#8c8c8c')
  .style('x', '50%')
  .style('y', '50%')
  .style('dy', -20);

facetRect
  .text()
  .encode('text', 'percent')
  .style('textAlign', 'center')
  .style('textBaseline', 'middle')
  .style('fontSize', 30)
  .style('fontWeight', 500)
  .style('color', '#000')
  .style('x', '50%')
  .style('y', '50%')
  .style('dy', 20);

chart2.render();


const words =
  `若月亮没来 (Live) - 杨宗纬/宝石Gem/王宇宙Leto\n
  \n她的蓝牙音响几十块\n
循环播放着倒带\n
靠在走廊的窗台 正吃着微凉的外卖\n
一个一心留在上海来自小镇的女孩\n
我该如何去描述\n
她那怅然若失的状态\n
望着高楼林立的CBD(中央商务区)\n
哪里是她的栖息地\n
合租的出租屋有几平米\n
她的生日有谁铭记\n
未来总是遥不可期\n
生活的压力更喘不上气\n
为何在如花似玉的年纪\n
经历那么多的不容易\n
懵懵懂懂地向前走\n
跌跌撞撞却不能喊痛\n
不敢轻易的奢望爱情\n
也不能轻易的自我感动\n
月亮月亮啊你不懂\n
六便士到底多重\n
那辆通往故乡的大巴车\n
又出现在她的梦\n
枕头被她狠狠地揪着她的泪正流着\n
不知今年过了明年是走还是留呢\n
朦胧月色掠过泪痕她的面庞青涩\n
幽幽晚风吹过窗外山茶花竟开了\n`
    .split('\n')
    .map((d) => ({ text: d }));

  // 初始化图表实例
  const chart1 = new G2.Chart({
    container: 'rushiyuelianghaimeilai',

  });

  // 声明可视化
  chart1
  .text() // 创建一个 text（Interval） 标记
  .data(words)  // 绑定数据
  .encode('x', 0.5) // 编码 x 通道
  .encode('y', (_, idx) => idx) // 编码 y 通道
  .encode('text', 'text')
  .encode('color', (_, idx) => idx)
  .encode('opacity', (_, idx) => idx)
  .scale('y', { type: 'point' })
  .style('textAlign', 'center')
  .style('textBaseline', 'middle')
  .style('fontSize', 16)
  .scale('color', { offset: (t) => 1 - t })
  .axis(false)
  .legend(false);

  // 渲染可视化
  chart1.render();


  

 


  const chart3 = new G2.Chart({
  container: 'yibiao',

});

chart3
  .gauge()
  .data({
    value: {
      target: 450,
      total: 600,
      name: 'score',
      thresholds: [100, 200,300, 400,500,600],
    },
  })
  .scale('color', {
    range: ['#F4664A', '#FAAD14', 'green','blue','pink','red',],
  })
  .style(
    'textContent',
    (target, total) => `得分：${target}\n占比：${(target / total) * 100}%`,
  )
  .legend(false);

  chart3.render();

 

  
  const data4 = [
  {    "value": 11.739204307083542, "text": "三人行",    "name": "孔子"  },
  {    "value": 9.23723855786,      "text": "我师焉",    "name": "孔子"  },
  {    "value": 7.75434839431,      "text": "必有",      "name": "孔子"  },
  {  
      "value": 11.3865516372,       "text": "博学之",    "name": "中庸"  },
  {    "value": 7.75434839431,      "text": "明辨之",    "name": "中庸"  },
  {    "value": 5.83541244308,      "text": "审问之",    "name": "中庸"  },
  {    "value": 4.27215339948,      "text": "笃行之",    "name": "中庸"  },
  {    "value": 4.2025551294,       "text": "慎思之",    "name": "中庸"  },
  {  
       "value": 9.23723855786,      "text": "心病终须",    "name": "红楼梦"  },
  {    "value": 7.75434839431,      "text": "解铃还是",    "name": "红楼梦"  },
  {    "value": 7.34959731693,      "text": "心药治",    "name": "红楼梦"  },
  {    "value": 6.57487014938,      "text": "系铃人",    "name": "红楼梦"  },
  {    
      "value": 10.1394775363,      "text": "希望是附丽于存在的",  "name": "鲁迅"  },
  {    "value": 9.29550746599,      "text": "有希望",    "name": "鲁迅"  },
  {    "value": 7.13910488317,      "text": "便有希望",    "name": "鲁迅"  },
  {    "value": 6.89126871927,      "text": "便是光明",    "name": "鲁迅"  },
  {    "value": 6.2256471303,       "text": "有存在",    "name": "鲁迅"  },
  {
    "value": 11.739204307083542,    "text": "谦虚使人的心缩小",    "name": "老舍"  },
  {    "value": 9.29550746599,      "text": "象一个小石卵",    "name": "老舍"  },
  {    "value": 8.70772080109,      "text": "虽然小",    "name": "老舍"  },
  {    "value": 7.75434839431,      "text": "而极结实",    "name": "老舍"  },
  {    "value": 7.13910488317,      "text": "结实才能诚实",    "name": "老舍"  },
  {   
       "value": 13.68728134056,     "text": "不乱于心",    "name": "丰子恺"  },
  {    "value": 10.2897597393,      "text": "不困于情",    "name": "丰子恺"  },
  {    "value": 10.1871055853,      "text": "不畏将来",    "name": "丰子恺"  },
  {    "value": 8.42421410004,      "text": "不念过往",    "name": "丰子恺"  },
  {    "value": 8.29487558568,      "text": "如此，安好",    "name": "丰子恺"  },
  {
    "value": 8.77077893705,      "text": "磊磊落落",    "name": "梁启超"  },
  {    "value": 8.18364995057,    "text": "独往独来",    "name": "梁启超"  },
  {    "value": 8.10461990121,    "text": "大丈夫之志也",    "name": "梁启超"  },
  {    "value": 7.69410172525,    "text": "大丈夫之行也",    "name": "梁启超"  },
  {  
       "value": 21.6192703972,    "text": "人生得也罢",    "name": "贾平凹"  },
  {    "value": 10.7226238216,    "text": "失也罢",  "name": "贾平凹"  },
  {    "value": 8.18364995057,    "text": "成也罢",    "name": "贾平凹"  },
  {    "value": 7.14957618304,    "text": "败也罢",    "name": "贾平凹"  },
  {    "value": 7.1038539337,     "text": "只是心灵的那泓清泉不能没有月辉",    "name": "贾平凹"  },
  {    
       "value": 11.739204307083542,    "text": "人的天性",    "name": "亦舒"  },
  {    "value": 11.739204307083542,    "text": "便是这般凉薄",    "name": "亦舒"  }, 
 {    "value": 8.10461990121,          "text": "只要",    "name": "亦舒"  },  
 {    "value": 7.95787827685,          "text": "拿更好的来换",    "name": "亦舒"  },
  {    "value": 7.36109169636,         "text": "一定舍得",    "name": "亦舒"  },
  {
    "value": 11.7034530746,       "text": "有志者事竟成",    "name": "蒲松龄"  },
  {    "value": 9.14102377386,    "text": "破釜沉舟",        "name": "蒲松龄"  },
  {    "value": 8.98802276624,    "text": "百二秦关终属楚",    "name": "蒲松龄"  },
  {    "value": 6.90950076485,    "text": "苦心人天不负",        "name": "蒲松龄"  },
  {    "value": 5.82167939329,    "text": "卧薪尝胆，三千越甲可吞吴",        "name": "蒲松龄"  },
  //{
  //   "value": 12.06102341102,          "text": "模式",    "name": "柏拉图"	},
  // {    "value": 11.739204307083542,   "text": "理型",    "name": "柏拉图"  },
  // {  "value": 11.3865516372,          "text": "物质",    "name": "柏拉图"  },
  // {    "value": 9.54656840164,        "text": "东西",    "name": "柏拉图" 	},
  // {    "value": 8.73505881114,       "text": "世界",     "name": "柏拉图"  },
  // {   
  // "value": 34.45634359635,           "text": "事物",       "name": "亚里士多德"  },
  // {    "value": 27.886522397969998,  "text": "感官",       "name": "亚里士多德"  },
  // {    "value": 20.4235963958,       "text": "质料",       "name": "亚里士多德"  },
  // {    "value": 12.1089181827,       "text": "和谐一致",   "name": "亚里士多德"  },
  // {    "value": 10.4994802703,       "text": "充分运用",   "name": "亚里士多德"  },
  // {
  //   "value": 11.739204307083542,  "text": "一袭",    "name": "第欧根尼"  },
  // {    "value": 10.1630080337,    "text": "木桶",    "name": "第欧根尼"  },
  // {    "value": 9.30555780184,    "text": "木棍",    "name": "第欧根尼"  },
  // {    "value": 9.26594866375,    "text": "斗篷",    "name": "第欧根尼"  }, 
  // {    "value": 9.22784881751,    "text": "一袋",    "name": "第欧根尼"  },
  // {    
  //       "value": 6.47412857958,    "text": "痛苦",    "name": "伊壁鸠鲁"  },
  // {    "value": 6.06866347147,    "text": "避免",    "name": "伊壁鸠鲁"  },
  // {    "value": 5.02315619812,    "text": "形式",    "name": "伊壁鸠鲁"  },
  // {    "value": 4.80149232937,    "text": "方式",    "name": "伊壁鸠鲁"  },
  // {    "value": 4.13163619599,    "text": "一种",    "name": "伊壁鸠鲁"  },
  // {
  //   "value": 21.209681572,       "text": "万事万物", "name": "普罗汀"  }, 
	// {    "value": 7.48068272383, "text": "上帝",     "name": "普罗汀"  },
  // {    "value": 7.37711534583,    "text": "一体",    "name": "普罗汀"  },
  // {    "value": 7.36834335975,    "text": "宇宙",    "name": "普罗汀"  },
  // {    "value": 5.67973648369,    "text": "之中",    "name": "普罗汀"  },
  // {   
  // "value": 9.17328983326,         "text": "赦免",    "name": "耶稣"  },
  // {    "value": 8.04274449749,    "text": "拯救",    "name": "耶稣"  },
  // {    "value": 7.48068272383,    "text": "上帝",    "name": "耶稣"  },
  // {    "value": 4.60931044136,    "text": "得到",    "name": "耶稣"  },
  // {    "value": 2.81755097213,    "text": "一个",    "name": "耶稣"  },
  
  // {    "value": 14.96136544766,   "text": "上帝",    "name": "保罗"  },
  // {    "value": 7.95787827685,    "text": "世人",    "name": "保罗"  },
  // {    "value": 7.22485443034,    "text": "显现",    "name": "保罗"  }, 
  // {    "value": 7.07413242842,    "text": "试图",    "name": "保罗"  },
  // {    "value": 6.04010686644,    "text": "寻找",    "name": "保罗"  },
  // {
  //   "value": 14.96136544766,       "text": "上帝",    "name": "圣奥古斯丁"  },
  // {    "value": 11.67082488616,    "text": "创造",    "name": "圣奥古斯丁"  },
  // {    "value": 9.80633308975,     "text": "虚空",    "name": "圣奥古斯丁"  },
  // {    "value": 8.73505881114,     "text": "世界",    "name": "圣奥古斯丁"  },
  // {    "value": 5.23799979382,     "text": "心中",    "name": "圣奥古斯丁"  },
  // {    
  //      "value": 16.57509909118,    "text": "启示",    "name": "圣多玛斯"  },
  // {    "value": 14.51638170122,    "text": "信仰",    "name": "圣多玛斯"  },
  // {    "value": 13.8190015297,     "text": "理性",    "name": "圣多玛斯"  },
  // {    "value": 10.5684731418,     "text": "观感",    "name": "圣多玛斯"  },
  // {    "value": 9.04086524761,     "text": "并不一定",  "name": "圣多玛斯"  },
  // {
  //   "value": 12.57964972316,       "text": "地球",    "name": "哥白尼"  },
  // {    "value": 12.45583951066,    "text": "太阳",    "name": "哥白尼"  },
  // {    "value": 11.39201164604,    "text": "运行",    "name": "哥白尼"  },
  // {    "value": 6.22698952271,     "text": "并未",    "name": "哥白尼"  },
  // {
  //   "value": 14.35128801962,      "text": "物体",    "name": "伽利略"  },
  // {    "value": 11.18052531558,   "text": "状态",    "name": "伽利略"  },
  // {    "value": 10.0505300503,    "text": "轴心",    "name": "伽利略"  },
  // {    "value": 9.56994431169,    "text": "星球",    "name": "伽利略"  },
  // {    "value": 9.29550746599,    "text": "感官",    "name": "伽利略"  },
  // { 
  //   "value": 21.52693202943,       "text": "物体",      "name": "牛顿"  },
  // {    "value": 8.68574189437,     "text": "递增",      "name": "牛顿"  },
  // {    "value": 8.29120585679,     "text": "递减",      "name": "牛顿"  },
  // {    "value": 7.9817837977,      "text": "行星",      "name": "牛顿"  },
  // {    "value": 7.36834335975,     "text": "宇宙",      "name": "牛顿"  },
  // {   
  //      "value": 13.900677652,      "text": "故我在",    "name": "笛卡尔"  },
  // {    "value": 11.9547675029,     "text": "真实世界",  "name": "笛卡尔"  },
  // {    "value": 11.739204307083542,"text": "我思",      "name": "笛卡尔"  },
  // {    "value": 10.2371160058,     "text": "之有",      "name": "笛卡尔"  },
  // {    "value": 7.96050639926,     "text": "细分",      "name": "笛卡尔"  },
  // {
  //   "value": 22.44204817149,      "text": "上帝",      "name": "斯宾诺莎"  },
  // {    "value": 12.1089181827,    "text": "主宰世界",  "name": "斯宾诺莎"  },
  // {    "value": 10.8096351986,    "text": "牵线",      "name": "斯宾诺莎"  },
  // {    "value": 10.6818018271,    "text": "自然法则",  "name": "斯宾诺莎"  },
  // {    "value": 9.7898037878,     "text": "木偶",      "name": "斯宾诺莎"  },
  // {    
  //      "value": 18.59101493198,   "text": "感官",      "name": "洛克"  },
  // {    "value": 15.51728049278,   "text": "心灵",      "name": "洛克"  },
  // {    "value": 11.9547675029,    "text": "察知",      "name": "洛克"  },
  // {    "value": 10.1394775363,    "text": "任何事物",  "name": "洛克"  },
  // {    "value": 8.74738605748,    "text": "次要",      "name": "洛克"  },
  // {
  //   "value": 14.95161725614,            "text": "哲学家",    "name": "休谟"  },
  // {    "value": 12.5143832909,          "text": "接连起来",  "name": "休谟"
  // },  {    "value": 11.739204307083542, "text": "省思",      "name": "休谟"
  // },  {    "value": 11.64335878658,     "text": "一件",      "name": "休谟"
  // },  {    "value": 10.2897597393,      "text": "行为准则",  "name": "休谟"
  // },  {
  //   "value": 13.78796485028,      "text": "感受",    "name": "柏克莱"  },
  // {    "value": 10.3743171274,    "text": "天主",    "name": "柏克莱"  },
  // {    "value": 10.2117981979,    "text": "质料",    "name": "柏克莱"  },  
  // {    "value": 9.58318953844,    "text": "周遭",    "name": "柏克莱"  },
  // {    "value": 9.14102377386,    "text": "存在",    "name": "柏克莱"  },
  // {
  //   "value": 14.96136544766,         "text": "上帝",    "name": "康德"  },
  // {    "value": 14.35850390238,      "text": "头顶",    "name": "康德"  },
  // {    "value": 12.5143832909,       "text": "因果律",   "name": "康德"  },
  // {    "value": 11.739204307083542,  "text": "存不存",   "name": "康德"  },
  // {    "value": 11.0674643079,       "text": "根植",    "name": "康德"  },
  // {
  //   "value": 16.20923980242,       "text": "大自然",    "name": "谢林"  },
  // {    "value": 13.10258821671,    "text": "世界",      "name": "谢林"  },
  // {    "value": 11.3865516372,     "text": "物质",      "name": "谢林"  },
  // {    "value": 11.27020388852,    "text": "一个",      "name": "谢林"  },
  // {    "value": 10.1164880181,     "text": "无休止",    "name": "谢林"  },
  // {  
  //      "value": 13.10258821671,    "text": "世界",        "name": "黑格尔"  },
  // {    "value": 11.23942650284,    "text": "精神",        "name": "黑格尔"  },
  // {     "value": 10.9049453784,    "text": "再读",        "name": "黑格尔"  },
  // {    "value": 10.1394775363,     "text": "脚踏实地",    "name": "黑格尔"  },  
  // {    "value": 8.60236028543,     "text": "辩证法",      "name": "黑格尔"  },
  // {
  //   "value": 26.6063055869,          "text": "阶段",    "name": "祁克果"  },
  // {    "value": 13.0408437271,       "text": "真实",    "name": "祁克果"  },
  // {    "value": 11.739204307083542,  "text": "人正",    "name": "祁克果"  },
  // {    "value": 10.48883682488,      "text": "是否",    "name": "祁克果"  },
  // {    "value": 9.5062284973,        "text": "美感",    "name": "祁克果"  },
  // {
  //   "value": 17.0798274558,            "text": "物质",    "name": "马克思"  },
  // {    "value": 11.739204307083542,    "text": "新的",    "name": "马克思"  },
  // {    "value": 11.23942650284,        "text": "精神",    "name": "马克思"  },
  // {    "value": 10.4471578861,         "text": "改变",    "name": "马克思"  },
  // {    "value": 10.21443458184,        "text": "造成",    "name": "马克思"  },
  // {   
  //      "value": 16.20923980242,       "text": "一艘",        "name": "达尔文"  },
  // {    "value": 15.07529909688,       "text": "航行",        "name": "达尔文"  },
  // {    "value": 11.739204307083542,   "text": "人则",        "name": "达尔文"  },
  // {    "value": 11.7034530746,        "text": "物竞天择",    "name": "达尔文"  },
  // {    "value": 10.5684731418,        "text": "适者生存",    "name": "达尔文"  },
  // {   
  //      "value": 19.89886786678,    "text": "潜意识",    "name": "弗洛伊德"  },
  // {    "value": 12.76848869812,    "text": "意识",      "name": "弗洛伊德"  },
  // {    "value": 9.96885201925,     "text": "合理化",    "name": "弗洛伊德"  },
  // {    "value": 9.17328983326,     "text": "投射",      "name": "弗洛伊德"  },
  // {    "value": 8.73589167805,     "text": "一小部分",  "name": "弗洛伊德"  },
  // {
  //   "value": 11.8006563133,            "text": "自由",    "name": "萨特"  },
  // {    "value": 11.739204307083542,    "text": "在己",    "name": "萨特"  },
  // {    "value": 11.739204307083542,    "text": "为己",    "name": "萨特"  },
  // {    "value": 11.739204307083542,    "text": "地问",    "name": "萨特"  },
  // {    "value": 11.4157710022,         "text": "疏离",    "name": "萨特"  },
 ];
 

  const chart4 = new G2.Chart({
    container: 'ciyun',

  });

 chart4
  .wordCloud()
  .data(data4)
  .layout({
    spiral: 'rectangular',
    fontSize: [20, 100],
  })
  .encode('color', 'text');

 chart4.render();

</script>

<style>
  .page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .rushiyuelianghaimeilai {
    width:50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

  }

  .bingtu {
    width:50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .yibiao{
    width:50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .ciyun{
    width:50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
</style>