<div class="page">
  <h1 style="width:100%">我的小账本</h1>
  <div id="zhuzhuangtu" class="zhuzhuangtu"></div>
  <div id="bingtu" class="bingtu"></div>
  <div id="mixzhu" class="mixzhu"></div>
</div>

<script src="https://unpkg.com/@antv/g2/dist/g2.min.js"></script>
<script>
  const data2 = [
    { item: '更多渠道', count: 45, percent: 0.45 },
    { item: '朋友再看', count: 21, percent: 0.21 },
    { item: '朋友圈', count: 12, percent: 0.12 },
    { item: '聊天会话', count: 13, percent: 0.13 },
    { item: '公众号消息', count: 9, percent: 0.09 },
  ];
  const chart2 = new G2.Chart({
    container: 'bingtu',

  });

  chart2.coordinate({ type: 'theta', outerRadius: 0.7 });

  chart2
    .interval()
    .data(data2)
    .transform({ type: 'stackY' })
    .encode('y', 'percent')
    .encode('color', 'item')
    .legend('color', { position: 'bottom', layout: { justifyContent: 'center' } })
    .label({
      position: 'outside',
      text: (data2) => `${data2.item}: ${data2.percent * 100}%`,
    })
    .tooltip((data) => ({
      name: data2.item,
      value: `${data2.percent * 100}%`,
    }));

  chart2.render();


  const data1 = [
  { genre: '佳能', sold: 245 },
    { genre: '摩托罗拉', sold: 105 },
    { genre: '夏普', sold: 160 },
    { genre: 'Breville', sold: 350 },
    { genre: 'HSSSSon', sold: 110 },
    { genre: 'KitchenAid', sold: 90 },
    { genre: 'Safco', sold: 150 },
  ];

  // 初始化图表实例
  const chart1 = new G2.Chart({
    container: 'zhuzhuangtu',

  });

  // 声明可视化
  chart1
    .interval() // 创建一个 Interval 标记
    .data(data1) // 绑定数据
    .encode('x', 'genre') // 编码 x 通道
    .encode('y', 'sold'); // 编码 y 通道

  // 渲染可视化
  chart1.render();


  const data3 = [
    { name: '二氧化硫', 月份: '西安市', 月均降雨量: 18.9 },
    { name: '二氧化硫', 月份: '宝鸡市', 月均降雨量: 28.8 },
    { name: '二氧化硫', 月份: '铜川市', 月均降雨量: 39.3 },
    { name: '二氧化硫', 月份: '襄阳市', 月均降雨量: 81.4 },
    { name: '二氧化硫', 月份: '延安市', 月均降雨量: 47 },
    { name: '二氧化硫', 月份: '昆明市', 月均降雨量: 20.3 },
    { name: '二氧化硫', 月份: '成都市', 月均降雨量: 24 },
    { name: '二氧化硫', 月份: '汉中市', 月均降雨量: 35.6 },
    { name: '二氧化氮', 月份: '洛阳市', 月均降雨量: 12.4 },
    { name: '二氧化氮', 月份: '咸阳市', 月均降雨量: 23.2 },
    { name: '二氧化氮', 月份: '南京市', 月均降雨量: 34.5 },
    { name: '二氧化氮', 月份: '北京市', 月均降雨量: 99.7 },
    { name: '二氧化氮', 月份: '海南市', 月均降雨量: 52.6 },
    { name: '二氧化氮', 月份: '贵阳市', 月均降雨量: 35.5 },
    { name: '二氧化氮', 月份: '桂林市', 月均降雨量: 37.4 },
    { name: '二氧化氮', 月份: '上海市', 月均降雨量: 42.4 },
  ];

  const chart3 = new G2.Chart({
    container: 'mixzhu',
  });

  chart3
    .interval()
    .data(data3)
    .encode('x', '月份')
    .encode('y', '月均降雨量')
    .encode('color', 'name')
    .transform({ type: 'stackY' })
    .interaction('elementHighlight', { background: true });

  chart3.render();





</script>

<style>
  .page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .zhuzhuangtu {
    width:50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

  }

  .bingtu {
    width:50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .mixzhu{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .mixzhu1{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
</style>