<div class="page">
  <h1 style="width:100%">花儿与少年</h1>
  <div id="zhuzhuangtu" class="zhuzhuangtu"></div>
  <div id="bingtu" class="bingtu"></div>
  <div id="mixzhu" class="mixzhu"></div>
  <div id="mj" class="mj"></div>
</div>

<script src="https://unpkg.com/@antv/g2/dist/g2.min.js"></script>
<script>
  const data2 = [
    { item: '一月到四月买玫瑰的人', count: 40, percent: 0.4 },
    { item: '一月到四月买郁金香的人', count: 21, percent: 0.21 },
    { item: '四月到八月买玫瑰的人', count: 17, percent: 0.17 },
    { item: '四月到八月买郁金香的人', count: 13, percent: 0.13 },
    { item: '两种都买的人', count: 9, percent: 0.09 },
  ];
  const chart2 = new G2.Chart({
    container: 'bingtu',

  });

  chart2.coordinate({ type: 'theta', outerRadius: 0.8 });

  chart2
    .interval()
    .data(data2)
    .transform({ type: 'stackY' })
    .encode('y', 'percent')
    .encode('color', 'item')
    .legend('color', { position: 'bottom', layout: { justifyContent: 'center' } })
    .label({
      position: 'outside',
      text: (data2) => `${data2.item}: ${data2.percent * 100}%`,
    })
    .tooltip((data) => ({
      name: data2.item,
      value: `${data2.percent * 100}%`,
    }));

  chart2.render();


  const data1 = [
    { Kind: 'Rose', sold: 275 },
    { Kind: 'Tulip', sold: 115 },
    { Kind: 'Lily', sold: 120 },
    { Kind: 'dAISY', sold: 350 },
    { Kind: 'daffodil', sold: 150 },
  ];

  // 初始化图表实例
  const chart1 = new G2.Chart({
    container: 'zhuzhuangtu',

  });

  // 声明可视化
  chart1
    .interval() // 创建一个 Interval 标记
    .data(data1) // 绑定数据
    .encode('x', 'Kind') // 编码 x 通道
    .encode('y', 'sold'); // 编码 y 通道

  // 渲染可视化
  chart1.render();


  const data3 = [
    { name: 'Rose', 月份: 'Jan.', 月均销售量: 18.9 },
    { name: 'Rose', 月份: 'Feb.', 月均销售量: 28.8 },
    { name: 'Rose', 月份: 'Mar.', 月均销售量: 50.3 },
    { name: 'Rose', 月份: 'Apr.', 月均销售量: 81.4 },
    { name: 'Rose', 月份: 'May', 月均销售量: 47 },
    { name: 'Rose', 月份: 'Jun.', 月均销售量: 20.3 },
    { name: 'Rose', 月份: 'Jul.', 月均销售量: 24 },
    { name: 'Rose', 月份: 'Aug.', 月均销售量: 35.6 },
    { name: 'Tulip', 月份: 'Jan.', 月均销售量: 12.4 },
    { name: 'Tulip', 月份: 'Feb.', 月均销售量: 23.2 },
    { name: 'Tulip', 月份: 'Mar.', 月均销售量: 30.5 },
    { name: 'Tulip', 月份: 'Apr.', 月均销售量: 99.7 },
    { name: 'Tulip', 月份: 'May', 月均销售量: 52.6 },
    { name: 'Tulip', 月份: 'Jun.', 月均销售量: 35.5 },
    { name: 'Tulip', 月份: 'Jul.', 月均销售量: 37.4 },
    { name: 'Tulip', 月份: 'Aug.', 月均销售量: 42.4 },
  ];

  const chart3 = new G2.Chart({
    container: 'mixzhu',
  });

  chart3
    .interval()
    .data(data3)
    .encode('x', '月份')
    .encode('y', '月均销售量')
    .encode('color', 'name')
    .transform({ type: 'stackY' })
    .interaction('elementHighlight', { background: true });

  chart3.render();

  const data4 = [
  { year: '一月', value: 15468 },
  { year: '二月', value: 16100 },
  { year: '三月', value: 15900 },
  { year: '四月', value: 17409 },
  { year: '五月', value: 17000 },
  { year: '六月', value: 31056 },
  { year: '七月', value: 31982 },
  { year: '八月', value: 32040 },
  { year: '总和', value: 33233 },
];
const chart4 = new G2.Chart({
  container: 'mj',

});

chart4.data(data4);

chart4
  .area()
  .encode('x', (d) => d.year)
  .encode('y', 'value')
  .encode('shape', 'area') // 'area', 'smooth', 'hvh', 'vh', 'hv'
  .style('opacity', 0.2)
  .axis('y', { labelFormatter: '~s', title: false });

chart4.line().encode('x', 'year').encode('y', 'value').encode('shape', 'line'); // 'line', 'smooth', 'vh', 'hv', 'hvh'

chart4.render();


</script>

<style>
  .page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .zhuzhuangtu {
    width:50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

  }

  .bingtu {
    width:50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .mixzhu{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .mj{
    width:50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
</style>