<div class="page">
    <h1 style="width:100%">我的小账本</h1>
    <div id="zhuzhuangtu" class="zhuzhuangtu"></div>
    <div id="bingtu" class="bingtu"></div>
    <div id="mixzhu" class="mixzhu"></div>
    <div id="zhextu" class="zhextu"></div>
  </div>
  
  <script src="https://unpkg.com/@antv/g2/dist/g2.min.js"></script>
  <script>
    const data2 = [
      { item: '餐饮', count: 40, percent: 0.4 },
      { item: '转账', count: 21, percent: 0.21 },
      { item: '购物', count: 17, percent: 0.17 },
      { item: '服务', count: 13, percent: 0.13 },
      { item: '发红包', count: 9, percent: 0.09 },
    ];
    const chart2 = new G2.Chart({
      container: 'bingtu',
  
    });
  
    chart2.coordinate({ type: 'theta', outerRadius: 0.8 });
  
    chart2
      .interval()
      .data(data2)
      .transform({ type: 'stackY' })
      .encode('y', 'percent')
      .encode('color', 'item')
      .legend('color', { position: 'bottom', layout: { justifyContent: 'center' } })
      .label({
        position: 'outside',
        text: (data2) => `${data2.item}: ${data2.percent * 100}%`,
      })
      .tooltip((data) => ({
        name: data2.item,
        value: `${data2.percent * 100}%`,
      }));
  
    chart2.render();
  
  
    const data1 = [
      { 周期: '周一', 金额: 275 },
      { 周期: '周二', 金额: 115 },
      { 周期: '周三', 金额: 120 },
      { 周期: '周四', 金额: 350 },
      { 周期: '周五', 金额: 150 },
    ];
  
    // 初始化图表实例
    const chart1 = new G2.Chart({
      container: 'zhuzhuangtu',
  
    });
  
    // 声明可视化
    chart1
      .interval() // 创建一个 Interval 标记
      .data(data1) // 绑定数据
      .encode('x', '周期') // 编码 x 通道
      .encode('y', '金额'); // 编码 y 通道
  
    // 渲染可视化
    chart1.render();
  
  
    const data3 = [
      { name: '收入', 月份: 'Jan.', 月均花销: 18.9 },
      { name: '收入', 月份: 'Feb.', 月均花销: 28.8 },
      { name: '收入', 月份: 'Mar.', 月均花销: 39.3 },
      { name: '收入', 月份: 'Apr.', 月均花销: 81.4 },
      { name: '收入', 月份: 'May', 月均花销: 47 },
      { name: '收入', 月份: 'Jun.', 月均花销: 20.3 },
      { name: '收入', 月份: 'Jul.', 月均花销: 24 },
      { name: '收入', 月份: 'Aug.', 月均花销: 35.6 },
      { name: '支出', 月份: 'Jan.', 月均花销: -12.4 },
      { name: '支出', 月份: 'Feb.', 月均花销:- 23.2 },
      { name: '支出', 月份: 'Mar.', 月均花销: -34.5 },
      { name: '支出', 月份: 'Apr.', 月均花销: -99.7 },
      { name: '支出', 月份: 'May', 月均花销: -52.6 },
      { name: '支出', 月份: 'Jun.', 月均花销:- 35.5 },
      { name: '支出', 月份: 'Jul.', 月均花销: -37.4 },
      { name: '支出', 月份: 'Aug.', 月均花销: -42.4 },
    ];
  
    const chart3 = new G2.Chart({
      container: 'mixzhu',
    });
  
    chart3
      .interval()
      .data(data3)
      .encode('x', '月份')
      .encode('y', '月均花销')
      .encode('color', 'name')
      .transform({ type: 'stackY' })
      .interaction('elementHighlight', { background: true });
  
    chart3.render();
  
    const data4 = [
    { year: '2016', value: 1 },
    { year: '2017', value: 2 },
    { year: '2018', value: 1 },
    { year: '2019', value: 1 },
    { year: '2020', value: 2 },
    { year: '2021', value: 1 },
    { year: '2022', value: 2 },
    { year: '2023', value: 1.5},
    { year: '2024', value: 2 },
  ];
  const chart4 = new G2.Chart({
    container: 'zhextu',
  
  });
  
  chart4
    .data(data4)
    .encode('x', 'year')
    .encode('y', 'value')
    .scale('x', {
      range: [0, 1],
    })
    .scale('y', {
      domainMin: 0,
      nice: true,
    });
  
  chart4.line().label({
    text: 'value',
    style: {
      dx: -10,
      dy: -12,
    },
  });
  
  chart4.point().style('fill', 'white').tooltip(false);
  
  chart4.render();
  
  </script>
  
  <style>
    .page {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  
    .zhuzhuangtu {
      width:50%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
  
    }
  
    .bingtu {
      width:50%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  
    .mixzhu{
      width:50%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    .zhextu{
      width:50%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  </style>