<div class="page">
  <h1 style="width:100%">我的小账本</h1>
  <div id="zhuzhuangtu" class="zhuzhuangtu"></div>
  <div id="bingtu" class="bingtu"></div>
  <div id="mixzhu" class="mixzhu"></div>
  <div id="zhexiantu" class="zhexiantu"></div>
</div>

<script src="https://unpkg.com/@antv/g2/dist/g2.min.js"></script>
<script>
  const data2 = [
    { item: '餐饮服务', count: 37, percent: 0.37 },
    { item: '购物', count: 30, percent: 0.30 },
    { item: '娱乐', count: 8, percent: 0.08 },
    { item: '医疗', count: 15, percent: 0.15 },
    { item: '其他', count: 10, percent: 0.1 },
  ];
  const chart2 = new G2.Chart({
    container: 'bingtu',

  });

  chart2.coordinate({ type: 'theta', outerRadius: 0.8 });

  chart2
    .interval()
    .data(data2)
    .transform({ type: 'stackY' })
    .encode('y', 'percent')
    .encode('color', 'item')
    .legend('color', { position: 'bottom', layout: { justifyContent: 'center' } })
    .label({
      position: 'outside',
      text: (data2) => `${data2.item}: ${data2.percent * 100}%`,
    })
    .tooltip((data) => ({
      name: data2.item,
      value: `${data2.percent * 100}%`,
    }));

  chart2.render();


  const data1 = [
    { month: '一月', sold: 3000 },
    { month: '二月', sold: 4200 },
    { month: '三月', sold: 1500 },
    { month: '四月', sold: 1200 },
    { month: '五月', sold: 1800 },
  ];

  // 初始化图表实例
  const chart1 = new G2.Chart({
    container: 'zhuzhuangtu',

  });

  // 声明可视化
  chart1
    .interval() // 创建一个 Interval 标记
    .data(data1) // 绑定数据
    .encode('x', 'month') // 编码 x 通道
    .encode('y', 'sold'); // 编码 y 通道

  // 渲染可视化
  chart1.render();


  const data3 = [
    { name: '支出', 月份: 'Jan.', 月均收支:  3000},
    { name: '支出', 月份: 'Feb.', 月均收支: 4200 },
    { name: '支出', 月份: 'Mar.', 月均收支: 1500 },
    { name: '支出', 月份: 'Apr.', 月均收支: 1200 },
    { name: '支出', 月份: 'May', 月均收支: 1800 },
    { name: '支出', 月份: 'Jun.', 月均收支: 1900 },
    { name: '支出', 月份: 'Jul.', 月均收支: 2000 },
    { name: '支出', 月份: 'Aug.', 月均收支: 1400 },
    { name: '收入', 月份: 'Jan.', 月均收支: 4000 },
    { name: '收入', 月份: 'Feb.', 月均收支: 4700 },
    { name: '收入', 月份: 'Mar.', 月均收支: 1500 },
    { name: '收入', 月份: 'Apr.', 月均收支: 2000 },
    { name: '收入', 月份: 'May', 月均收支: 1600 },
    { name: '收入', 月份: 'Jun.', 月均收支: 1400 },
    { name: '收入', 月份: 'Jul.', 月均收支: 1500 },
    { name: '收入', 月份: 'Aug.', 月均收支: 2400 },
  ];

  const chart3 = new G2.Chart({
    container: 'mixzhu',
  });

  chart3
    .interval()
    .data(data3)
    .encode('x', '月份')
    .encode('y', '月均收支')
    .encode('color', 'name')
    .transform({ type: 'stackY' })
    .interaction('elementHighlight', { background: true });

  chart3.render();


  const data4 = [
  { year: '2016', value: 3 },
  { year: '2017', value: 4 },
  { year: '2018', value: 3.5 },
  { year: '2019', value: 5 },
  { year: '2020', value: 4.9 },
  { year: '2021', value: 6 },
  { year: '2022', value: 7 },
  { year: '2023', value: 9 },
  { year: '2024', value: 13 },
];

const chart4 = new G2.Chart({
  container: 'zhexiantu',

});

chart4
  .data(data4)
  .encode('x', 'year')
  .encode('y', 'value')
  .scale('x', {
    range: [0, 1],
  })
  .scale('y', {
    domainMin: 0,
    nice: true,
  });

chart4
.line()
.label({
  text: 'value',
  style: {
    dx: -10,
    dy: -12,
  },
});
chart4
.point()
.style('fill', 'white')
.tooltip(false);

chart4.render();


</script>

<style>
  .page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .zhuzhuangtu {
    width:50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

  }

  .bingtu {
    width:50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .mixzhu{
    width:50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .zhexiantu {
    width:50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
</style>