<div class="page">
  <h1 style="width:100%">我的小账本</h1>
  <div id="zhuzhuangtu" class="zhuzhuangtu"></div>
  <div id="bingtu" class="bingtu"></div>
  <div id="mixzhu" class="mixzhu"></div>
</div>

<script src="https://unpkg.com/@antv/g2/dist/g2.min.js"></script>
<script>
  const data2 = [
    { item: '吃饭', count: 40, percent: 0.4 },
    { item: '零食', count: 21, percent: 0.21 },
    { item: '水果', count: 17, percent: 0.17 },
    { item: '烟', count: 13, percent: 0.13 },
    { item: '网购', count: 9, percent: 0.09 },
  ];
  const chart2 = new G2.Chart({
    container: 'bingtu',

  });

  chart2.coordinate({ type: 'theta', outerRadius: 0.8 });

  chart2
    .interval()
    .data(data2)
    .transform({ type: 'stackY' })
    .encode('y', 'percent')
    .encode('color', 'item')
    .legend('color', { position: 'bottom', layout: { justifyContent: 'center' } })
    .label({
      position: 'outside',
      text: (data2) => `${data2.item}: ${data2.percent * 100}%`,
    })
    .tooltip((data) => ({
      name: data2.item,
      value: `${data2.percent * 100}%`,
    }));

  chart2.render();


  const data1 = [
    { genre: '刺客系列FG', sold: 995 },
    { genre: 'GT2系列FG', sold: 20897 },
    { genre: 'GX系列FG', sold: 995 },
    { genre: '阿迪达斯X系列FG', sold: 885 },
    { genre: '传奇FG', sold: 1499 },
  ];

  // 初始化图表实例
  const chart1 = new G2.Chart({
    container: 'zhuzhuangtu',

  });

  // 声明可视化
  chart1
    .interval() // 创建一个 Interval 标记
    .data(data1) // 绑定数据
    .encode('x', 'genre') // 编码 x 通道
    .encode('y', 'sold'); // 编码 y 通道

  // 渲染可视化
  chart1.render();


  const data3 = [
    { name: 'London1', 星期一: 'Mon.', 天均降雨量: 8.9 },
    { name: 'London2', 星期二: 'Tues.', 天均降雨量: 8.8 },
    { name: 'London3', 星期三: 'Wed.', 天均降雨量: 6.3 },
    { name: 'London4', 星期四: 'Thur.', 天均降雨量: 0.0 },
    { name: 'London5', 星期五: 'Fri.', 天均降雨量: 5.2 },
    { name: 'London6', 星期六: 'Sat.', 天均降雨量: 1.2 },
    { name: 'London7', 星期天: 'Sun.', 天均降雨量: 5.0 },
    
  ];

  const chart3 = new G2.Chart({
    container: 'mixzhu',
  });

  chart3
    .interval()
    .data(data3)
    .encode('x', '天份')
    .encode('y', '一天均降雨量')
    .encode('color', 'name')
    .transform({ type: 'stackY' })
    .interaction('elementHighlight', { background: true });

  chart3.render();


</script>

<style>
  .page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .zhuzhuangtu {
    width:50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

  }

  .bingtu {
    width:50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .mixzhu{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
</style>