<h1 style="width:100%">我的小账本</h1>
  <div id="zhuzhuangtu" class="zhuzhuangtu"></div>
  <div id="bingtu" class="bingtu"></div>
  <div id="mixzhu" class="mixzhu"></div>
</div>

<script src="https://unpkg.com/@antv/g2/dist/g2.min.js"></script>
<script>
  const data2 = [
    { item: '星期一', count: 40, percent: 0.4 },
    { item: '星期二', count: 15, percent: 0.15 },
    { item: '星期三', count: 15, percent: 0.15 },
    { item: '星期四', count: 13, percent: 0.13 },
    { item: '星期五', count: 17, percent: 0.17 },
  ];
  const chart2 = new G2.Chart({
    container: 'bingtu',

  });

  chart2.coordinate({ type: 'theta', outerRadius: 0.8 });

  chart2
    .interval()
    .data(data2)
    .transform({ type: 'stackY' })
    .encode('y', 'percent')
    .encode('color', 'item')
    .legend('color', { position: 'bottom', layout: { justifyContent: 'center' } })
    .label({
      position: 'outside',
      text: (data2) => `${data2.item}: ${data2.percent * 100}%`,
    })
    .tooltip((data) => ({
      name: data2.item,
      value: `${data2.percent * 100}%`,
    }));

  chart2.render();


  const data1 = [
    { genre: 'Sports', sold: 275 },
    { genre: 'medicine', sold: 150 },
    { genre: 'life', sold: 600 },
    { genre: 'leisure time', sold: 100 },
    { genre: 'Other', sold: 150 },
  ];

  // 初始化图表实例
  const chart1 = new G2.Chart({
    container: 'zhuzhuangtu',

  });

  // 声明可视化
  chart1
    .interval() // 创建一个 Interval 标记
    .data(data1) // 绑定数据
    .encode('x', 'genre') // 编码 x 通道
    .encode('y', 'sold'); // 编码 y 通道

  // 渲染可视化
  chart1.render();


  const data3 = [
    { name: 'male hero', 英雄: 'houyi.', 输出伤害支持: 300 },
    { name: 'male hero', 英雄: 'bailishouyue.', 输出伤害支持: 110 },
    { name: 'male hero', 英雄: 'gangjiangmoye.', 输出伤害支持: 90 },
    { name: 'male hero', 英雄: 'luna.', 输出伤害支持: 70 },
    { name: 'male hero', 英雄: 'shengmengxi.', 输出伤害支持: 50 },
    { name: 'male hero', 英雄: 'suowukong.', 输出伤害支持: 50  },
    { name: 'heroine', 英雄: 'ailing.', 输出伤害支持: 40 },
    { name: 'heroine', 英雄: 'sunshangxiang.', 输出伤害支持: 80 },
    { name: 'heroine', 英雄: 'wangzhaojun.', 输出伤害支持: 60 },
    { name: 'heroine', 英雄: 'diaochan.', 输出伤害支持: 180 },
    { name: 'heroine', 英雄: 'anqila.', 输出伤害支持: 120 },
    { name: 'heroine', 英雄: 'xiaoqiao.', 输出伤害支持: 70 }
  ];

  const chart3 = new G2.Chart({
    container: 'mixzhu',
  });

  chart3
    .interval()
    .data(data3)
    .encode('x', '英雄')
    .encode('y', '输出伤害支持')
    .encode('color', 'name')
    .transform({ type: 'stackY' })
    .interaction('elementHighlight', { background: true });

  chart3.render();


</script>

<style>
  .page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .zhuzhuangtu {
    width:50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

  }

  .bingtu {
    width:50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .mixzhu{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
</style>