<div class="page">
  <h1 style="width:100%">我的小账本</h1>
  <div id="zhuzhuangtu" class="zhuzhuangtu"></div>
  <div id="bingtu" class="bingtu"></div>
  <div id="mixzhu" class="mixzhu"></div>
</div>

<script src="https://unpkg.com/@antv/g2/dist/g2.min.js"></script>
<script>
  const data2 = [
    { item: '淘宝', count: 40, percent: 0.4 },
    { item: '转账', count: 21, percent: 0.21 },
    { item: '二维码收款', count: 17, percent: 0.17 },
    { item: '花小猪打车', count: 13, percent: 0.13 },
    { item: '美团', count: 9, percent: 0.09 },
  ];
  const chart2 = new G2.Chart({
    container: 'bingtu',

  });

  chart2.coordinate({ type: 'theta', outerRadius: 0.8 });

  chart2
    .interval()
    .data(data2)
    .transform({ type: 'stackY' })
    .encode('y', 'percent')
    .encode('color', 'item')
    .legend('color', { position: 'bottom', layout: { justifyContent: 'center' } })
    .label({
      position: 'outside',
      text: (data2) => `${data2.item}: ${data2.percent * 100}%`,
    })
    .tooltip((data) => ({
      name: data2.item,
      value: `${data2.percent * 100}%`,
    }));

  chart2.render();


  const data1 = [
    { 支出: '淘宝', 金额: 400.67 },
    { 支出: '转账', 金额: 312},
    { 支出: '二维码收款', 金额: 340.5 },
    { 支出: '花小猪打车', 金额: 250.23 },
    { 支出: '美团', 金额: 150 },
  ];

  // 初始化图表实例
  const chart1 = new G2.Chart({
    container: 'zhuzhuangtu',

  });

  // 声明可视化
  chart1
    .interval() // 创建一个 Interval 标记
    .data(data1) // 绑定数据
    .encode('x', '支出') // 编码 x 通道
    .encode('y', '金额'); // 编码 y 通道

  // 渲染可视化
  chart1.render();


  const data3 = [
    { name: '收入', 月份: '一月.', 月均支出收入对比图: 2000},
    { name: '收入', 月份: '二月.', 月均支出收入对比图: 2894},
    { name: '收入', 月份: '三月.', 月均支出收入对比图: 7326},
    { name: '收入', 月份: '四月.', 月均支出收入对比图: 4077 },
    { name: '收入', 月份: '五月.',  月均支出收入对比图: 3752},
    { name: '收入', 月份: '六月.', 月均支出收入对比图: 2000 },
    { name: '收入', 月份: '七月.', 月均支出收入对比图: 2250},
    { name: '收入', 月份: '八月.', 月均支出收入对比图: 15000},
    { name: '支出', 月份: '一月.', 月均支出收入对比图: 3549 },
    { name: '支出', 月份: '二月.', 月均支出收入对比图: 3475},
    { name: '支出', 月份: '三月.', 月均支出收入对比图: 7937},
    { name: '支出', 月份: '四月.', 月均支出收入对比图: 4395},
    { name: '支出', 月份: '五月',  月均支出收入对比图: 1663},
    { name: '支出', 月份: '六月.', 月均支出收入对比图:3894 },
    { name: '支出', 月份: '七月.', 月均支出收入对比图: 2736 },
    { name: '支出', 月份: '八月.', 月均支出收入对比图: 12000 },
  ];

  const chart3 = new G2.Chart({
    container: 'mixzhu',
  });

  chart3
    .interval()
    .data(data3)
    .encode('x', '月份')
    .encode('y', '月均支出收入对比图')
    .encode('color', 'name')
    .transform({ type: 'stackY' })
    .interaction('elementHighlight', { background: true });

  chart3.render();

const data4 = [
  { name: 'London', 月份: '2017.', 年支出: 4000 },
  { name: 'London', 月份: '2018.', 年支出: 3000.5 },
  { name: 'London', 月份: '2019.', 年支出: 2500 },
  { name: 'London', 月份: '2020.', 年支出: 6847.67 },
  { name: 'London', 月份: '2021.', 年支出: 5054},
  { name: 'London', 月份: '2022.', 年支出: 3529.7 },
  { name: 'London', 月份: '2023.', 年支出: 4506 },
  { name: 'London', 月份: '2024.', 年支出: 25496 },
  { name: 'Berlin', 月份: '2017.', 年收入: 4500 },
  { name: 'Berlin', 月份: '2018.', 年收入: 4300 },
  { name: 'Berlin', 月份: '2019.', 年收入: 3100 },
  { name: 'Berlin', 月份: '2020.', 年收入: 6486 },
  { name: 'Berlin', 月份: '2021.', 年收入: 7004 },
  { name: 'Berlin', 月份: '2022.', 年收入: 13661.5 },
  { name: 'Berlin', 月份: '2023.', 年收入: 5600.5 },
  { name: 'Berlin', 月份: '2024.', 年收入: 19337.83 },
];

const chart4 = new G2.Chart({
  container: '年支出收入对比图',
  autoFit: true,
});

chart4
  .interval()
  .data(data4)
  .encode('x', '年份')
  .encode('y', '年支出收入对比')
  .encode('color', 'name')
  .transform({ type: 'dodgeX' })
  .interaction('elementHighlight', { background: true });

chart4.render();

</script>

<style>
  .page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .zhuzhuangtu {
    width:50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

  }

  .bingtu {
    width:50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .mixzhu{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }




</style>



