<div class="page">
    <h1 style="width:100%">我的小账本</h1>
    <div id="zhuzhuangtu" class="zhuzhuangtu"></div>
    <div id="bingtu" class="bingtu"></div>
    <div id="mixzhu" class="mixzhu"></div>
    <div id="container" class="container"></div>
  </div>
  
  <script src="https://unpkg.com/@antv/g2/dist/g2.min.js"></script>
  <script>
    const data2 = [
      { item: '玫瑰', count: 10, percent: 0.1 },
      { item: '山茶', count: 21, percent: 0.21 },
      { item: '菊花', count: 17, percent: 0.17 },
      { item: '月季', count: 13, percent: 0.13 },
      { item: '郁金香', count: 39, percent: 0.39 },
    ];
    const chart2 = new G2.Chart({
      container: 'bingtu',
  
    });
  
    chart2.coordinate({ type: 'theta', outerRadius: 0.8 });
  
    chart2
      .interval()
      .data(data2)
      .transform({ type: 'stackY' })
      .encode('y', 'percent')
      .encode('color', 'item')
      .legend('color', { position: 'bottom', layout: { justifyContent: 'center' } })
      .label({
        position: 'outside',
        text: (data2) => `${data2.item}: ${data2.percent * 100}%`,
      })
      .tooltip((data) => ({
        name: data2.item,
        value: `${data2.percent * 100}%`,
      }));
  
    chart2.render();
  
  
    const data1 = [
      { 手机类型: '苹果', 销售额: 275 },
      { 手机类型: '华为', 销售额: 115 },
      { 手机类型: '三星', 销售额: 120 },
      { 手机类型: 'ViVo', 销售额: 350 },
      { 手机类型: 'oppo', 销售额: 150 },
    ];
  
    // 初始化图表实例
    const chart1 = new G2.Chart({
      container: 'zhuzhuangtu',
  
    });
  
    // 声明可视化
    chart1
      .interval() // 创建一个 Interval 标记
      .data(data1) // 绑定数据
      .encode('x', '手机类型') // 编码 x 通道
      .encode('y', '销售额'); // 编码 y 通道
  
    // 渲染可视化
    chart1.render();
  
  
    const data3 = [
      { name: '北京', 月份: '一月', 月均降雨量: 18.9 },
      { name: '北京', 月份: '二月', 月均降雨量: 28.8 },
      { name: '北京', 月份: '三月', 月均降雨量: 39.3 },
      { name: '北京', 月份: '四月', 月均降雨量: 81.4 },
      { name: '北京', 月份: '五月', 月均降雨量: 47 },
      { name: '北京', 月份: '六月', 月均降雨量: 20.3 },
      { name: '北京', 月份: '七月', 月均降雨量: 24 },
      { name: '北京', 月份: '八月', 月均降雨量: 35.6 },
      { name: '云南', 月份: '一月', 月均降雨量: 12.4 },
      { name: '云南', 月份: '二月', 月均降雨量: 23.2 },
      { name: '云南', 月份: '三月', 月均降雨量: 34.5 },
      { name: '云南', 月份: '四月', 月均降雨量: 99.7 },
      { name: '云南', 月份: '五月', 月均降雨量: 52.6 },
      { name: '云南', 月份: '六月', 月均降雨量: 35.5 },
      { name: '云南', 月份: '七月', 月均降雨量: 37.4 },
      { name: '云南', 月份: '八月', 月均降雨量: 42.4 },
    ];
  
    const chart3 = new G2.Chart({
      container: 'mixzhu',
    });
  
    chart3
      .interval()
      .data(data3)
      .encode('x', '月份')
      .encode('y', '月均降雨量')
      .encode('color', 'name')
      .transform({ type: 'stackY' })
      .interaction('elementHighlight', { background: true });
  
    chart3.render();
  
  
    const data = [
    { 年份: '1991', 价值: 3 },
    { 年份: '1992', 价值: 4 },
    { 年份: '1993', 价值: 3.5 },
    { 年份: '1994', 价值: 5 },
    { 年份: '1995', 价值: 4.9 },
    { 年份: '1996', 价值: 6 },
    { 年份: '1997', 价值: 7 },
    { 年份: '1998', 价值: 9 },
    { 年份: '1999', 价值: 13 },
  ];
  
  const chart = new G2.Chart({
    container: 'container',
    autoFit: true,
  });
  
  chart
    .data(data)
    .encode('x', '年份')
    .encode('y', '价值')
    .scale('x', {
      range: [0, 1],
    })
    .scale('y', {
      domainMin: 0,
      nice: true,
    });
  
  chart.line().label({
    text: '价值',
    style: {
      dx: -10,
      dy: -12,
    },
  });
  
  chart.point().style('fill', 'white').tooltip(false);
  
  chart.render();
  
  chart.render();
  
  </script>
  
  <style>
    .page {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  
    .zhuzhuangtu {
      width:50%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
  
    }
  
    .bingtu {
      width:50%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  
    .mixzhu{
      width:50%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  
  
    .container{
      width:50%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  </style>