<div class="page">
    <h1 style="width:100%">我的小账本</h1>
    <div id="zhuzhuangtu" class="zhuzhuangtu"></div>
    <div id="bingtu" class="bingtu"></div>
    <div id="mixzhu" class="mixzhu"></div>
  </div>
  
  <script src="https://unpkg.com/@antv/g2/dist/g2.min.js"></script>
  <script>
    const data2 = [
      { item: '房租水电', count: 1240, percent: 0.37 },
      { item: '交通燃油', count: 610, percent: 0.18 },
      { item: '日常饮食', count: 900, percent: 0.25 },
      { item: '社交娱乐', count: 410, percent: 0.12 },
      { item: '自我学习', count: 200, percent: 0.08 },
    ];
    const chart2 = new G2.Chart({
      container: 'bingtu',
  
    });
  
    chart2.coordinate({ type: 'theta', outerRadius: 0.8 });
  
    chart2
      .interval()
      .data(data2)
      .transform({ type: 'stackY' })
      .encode('y', 'percent')
      .encode('color', 'item')
      .legend('color', { position: 'bottom', layout: { justifyContent: 'center' } })
      .label({
        position: 'outside',
        text: (data2) => `${data2.item}: ${data2.percent * 100}%`,
      })
      .tooltip((data) => ({
        name: data2.item,
        value: `${data2.percent * 100}%`,
      }));
  
    chart2.render();
  
  
    const data1 = [
      { genre: '基本工资', sold: 5000 },
      { genre: '绩效考核', sold: 1200 },
      { genre: '出差报销', sold: 600 },
      { genre: '奖金分红', sold: 1500 },
      { genre: '业余兼职', sold: 1800 },
    ];
  
    // 初始化图表实例
    const chart1 = new G2.Chart({
      container: 'zhuzhuangtu',
  
    });
  
    // 声明可视化
    chart1
      .interval() // 创建一个 Interval 标记
      .data(data1) // 绑定数据
      .encode('x', 'genre') // 编码 x 通道
      .encode('y', 'sold'); // 编码 y 通道
  
    // 渲染可视化
    chart1.render();
  
  
    const data3 = [
      { name: 'London', 月份: '一月.', 本月生活支出:2630 },
      { name: 'London', 月份: '二月.', 本月生活支出:3180 },
      { name: 'London', 月份: '三月.', 本月生活支出:2480 },
      { name: 'London', 月份: '四月.', 本月生活支出:2730 },
      { name: 'London', 月份: '五月', 本月生活支出:3560 },
      { name: 'London', 月份: '六月.', 本月生活支出:2130 },
      { name: 'London', 月份: '七月.', 本月生活支出:2670  },
      { name: 'London', 月份: '八月.', 本月生活支出:2320  },
      { name: 'Berlin', 月份: '九月.', 本月生活支出:3610  },
      { name: 'Berlin', 月份: '十月.', 本月生活支出:2860  },
      { name: 'Berlin', 月份: '冬月.', 本月生活支出:2840  },
      { name: 'Berlin', 月份: '腊月.', 本月生活支出:3360  },
    ];
  
    const chart3 = new G2.Chart({
      container: 'mixzhu',
    });
  
    chart3
      .interval()
      .data(data3)
      .encode('x', '月份')
      .encode('y', '本月生活支出')
      .encode('color', 'name')
      .transform({ type: 'stackY' })
      .interaction('elementHighlight', { background: true });
  
    chart3.render();
  
  
  </script>
  
  <style>
    .page {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  
    .zhuzhuangtu {
      width:50%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
  
    }
  
    .bingtu {
      width:50%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  
    .mixzhu{
      width:100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  </style>